@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

:root {
  --clr-primary-100: hsl(0, 0%, 100%);
  --clr-primary-300: hsl(212, 45%, 89%);
  --clr-primary-500: hsl(220, 15%, 55%);
  --clr-primary-700: hsl(218, 44%, 22%);

  --primary-font-family: Outfit, sans-serif;

  --fw-bold: 400;
  --fw-bolder: 700;

  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

svg,
img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  font-family: var(--primary-font-family);

  color: var(--clr-primary-500);
  background-color: var(--clr-primary-300);

  display: grid;
  min-height: 100vh;
  place-items: center;
}

.container {
  --border-radius: 2rem;

  max-width: 29rem;
  margin-inline: 1rem;
  padding: 1.5rem 1.5rem 3rem;

  text-align: center;
  border-radius: var(--border-radius);
  background-color: var(--clr-primary-100);

  display: grid;
  gap: 2rem;
}

img {
  border-radius: calc(var(--border-radius) * 0.5);
}

h1 {
  color: var(--clr-primary-700);
  font-size: var(--fs-800);
  font-weight: var(--fw-bolder);
}